---
import HouseSVG from "@/images/house.svg";
import BreadcrumbDividerSVG from "@/images/breadcrumb-divider.svg";

const date = new Date();
const currentYear = date.getFullYear();

const breadcrumbs = Astro.originPathname
  .split("/")
  .filter(Boolean)
  .reduce(
    (breadcrumbs, path) => {
      const lastItemPath = breadcrumbs[breadcrumbs.length - 1].path;
      const currentPath = lastItemPath.endsWith("/")
        ? `${lastItemPath}${path}`
        : `${lastItemPath}/${path}`;

      breadcrumbs.push({
        label: path,
        path: currentPath,
      });

      return breadcrumbs;
    },
    [
      {
        label: "sook.dev",
        path: "/",
      },
    ]
  );
---

<div
  class:list={[
    "hidden lg:h-full lg:sticky lg:top-0 lg:flex lg:items-center lg:justify-between lg:items-center lg:px-12 lg:text-sm/7 lg:whitespace-nowrap lg:[writing-mode:vertical-rl]",
    "bg-gradient-to-b from-indigo-600 from-10% via-primary-base via-50% to-emerald-500 to-90%",
  ]}
>
  <div class="flex items-center">
    {
      breadcrumbs.map(({ label, path }, index) => (
        <div class="flex">
          {index > 0 && (
            <BreadcrumbDividerSVG class="h-10 mb-3 text-slate-300" />
          )}
          <a
            href={path}
            class="font-mono text-slate-200 flex items-center gap-1.5"
          >
            {path === "/" && <HouseSVG class="rotate-90 size-3" />}
            {label}
          </a>
        </div>
      ))
    }
  </div>
  <div class="text-xs text-slate-200 [writing-mode:sideways-rl]">
    <span>&copy; {currentYear} Sukkyu Chung. All rights reserved.</span>
  </div>
</div>
